# Welcome to Jupyter!

In [44]:
# Import charting libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [50]:
students_data = pd.read_csv("student-mat.csv", header = None, skiprows = 1)

In [13]:
columns = str(students_data.head(0)).split(';')
print(columns)

['Empty DataFrame\nColumns: [school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3]\nIndex: []']

In [107]:
col = columns

In [108]:
type(col)

list

In [22]:
columns[-1].rfind(']')

2

In [23]:
columns[-1] = columns[-1][:2]

In [55]:
print(columns)

['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

In [51]:
students_data.head()

                                                   0
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [35]:
df = pd.DataFrame(columns = columns)

In [56]:
students_data.count()

0    395
dtype: int64

In [57]:
type(students_data)

pandas.core.frame.DataFrame

In [152]:
 rows_list = []
for row in students_data.iterrows():
    rows_list.append(list(row[1].str.split(';')))

In [126]:
print(len(rows_list[3][0]))

33

In [105]:
df1 = pd.DataFrame(index=range(396), columns=columns)
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
for i in range(395):
    for j in range(33):
        df1.loc[i][j] = rows_list[i][0][j]

In [136]:
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,"""F""",18,"""U""","""GT3""","""A""",4,4,"""at_home""","""teacher""",...,4,3,4,1,1,3,6,"""5""","""6""",6
1,GP,"""F""",17,"""U""","""GT3""","""T""",1,1,"""at_home""","""other""",...,5,3,3,1,1,3,4,"""5""","""5""",6
2,GP,"""F""",15,"""U""","""LE3""","""T""",1,1,"""at_home""","""other""",...,4,3,2,2,3,3,10,"""7""","""8""",10
3,GP,"""F""",15,"""U""","""GT3""","""T""",4,2,"""health""","""services""",...,3,2,2,1,1,5,2,"""15""","""14""",15
4,GP,"""F""",16,"""U""","""GT3""","""T""",3,3,"""other""","""other""",...,4,3,2,1,2,5,4,"""6""","""10""",10

In [151]:
df1 = df1.replace({'"':''}, regex=True)
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [88]:
for i in range(5):
    print(students_data[i])

0      GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1      GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2      GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3      GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4      GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
5      GP;"M";16;"U";"LE3";"T";4;3;"services";"other"...
6      GP;"M";16;"U";"LE3";"T";2;2;"other";"other";"h...
7      GP;"F";17;"U";"GT3";"A";4;4;"other";"teacher";...
8      GP;"M";15;"U";"LE3";"A";3;2;"services";"other"...
9      GP;"M";15;"U";"GT3";"T";3;4;"other";"other";"h...
10     GP;"F";15;"U";"GT3";"T";4;4;"teacher";"health"...
11     GP;"F";15;"U";"GT3";"T";2;1;"services";"other"...
12     GP;"M";15;"U";"LE3";"T";4;4;"health";"services...
13     GP;"M";15;"U";"GT3";"T";4;3;"teacher";"other";...
14     GP;"M";15;"U";"GT3";"A";2;2;"other";"other";"h...
15     GP;"F";16;"U";"GT3";"T";4;4;"health";"other";"...
16     GP;"F";16;"U";"GT3";"T";4;4;"services";"servic...
17     GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"r...
18     GP;"M";17;"U";"GT3";"T";3;2;"services";"servic...
19     GP;"M";16;"U";"LE3";"T";4;3;"health";"other";"...
20     GP;"M";15;"U";"GT3";"T";4;3;"teacher";"other";...
21     GP;"M";15;"U";"GT3";"T";4;4;"health";"health";...
22     GP;"M";16;"U";"LE3";"T";4;2;"teacher";"other";...
23     GP;"M";16;"U";"LE3";"T";2;2;"other";"other";"r...
24     GP;"F";15;"R";"GT3";"T";2;4;"services";"health...
25     GP;"F";16;"U";"GT3";"T";2;2;"services";"servic...
26     GP;"M";15;"U";"GT3";"T";2;2;"other";"other";"h...
27     GP;"M";15;"U";"GT3";"T";4;2;"health";"services...
28     GP;"M";16;"U";"LE3";"A";3;4;"services";"other"...
29     GP;"M";16;"U";"GT3";"T";4;4;"teacher";"teacher...
                             ...
365    MS;"M";18;"R";"GT3";"T";1;3;"at_home";"other";...
366    MS;"M";18;"U";"LE3";"T";4;4;"teacher";"service...
367    MS;"F";17;"R";"GT3";"T";1;1;"other";"services"...
368    MS;"F";18;"U";"GT3";"T";2;3;"at_home";"service...
369    MS;"F";18;"R";"GT3";"T";4;4;"other";"teacher";...
370    MS;"F";19;"U";"LE3";"T";3;2;"services";"servic...
371    MS;"M";18;"R";"LE3";"T";1;2;"at_home";"service...
372    MS;"F";17;"U";"GT3";"T";2;2;"other";"at_home";...
373    MS;"F";17;"R";"GT3";"T";1;2;"other";"other";"c...
374    MS;"F";18;"R";"LE3";"T";4;4;"other";"other";"r...
375    MS;"F";18;"R";"GT3";"T";1;1;"other";"other";"h...
376    MS;"F";20;"U";"GT3";"T";4;2;"health";"other";"...
377    MS;"F";18;"R";"LE3";"T";4;4;"teacher";"service...
378    MS;"F";18;"U";"GT3";"T";3;3;"other";"other";"h...
379    MS;"F";17;"R";"GT3";"T";3;1;"at_home";"other";...
380    MS;"M";18;"U";"GT3";"T";4;4;"teacher";"teacher...
381    MS;"M";18;"R";"GT3";"T";2;1;"other";"other";"o...
382    MS;"M";17;"U";"GT3";"T";2;3;"other";"services"...
383    MS;"M";19;"R";"GT3";"T";1;1;"other";"services"...
384    MS;"M";18;"R";"GT3";"T";4;2;"other";"other";"h...
385    MS;"F";18;"R";"GT3";"T";2;2;"at_home";"other";...
386    MS;"F";18;"R";"GT3";"T";4;4;"teacher";"at_home...
387    MS;"F";19;"R";"GT3";"T";2;3;"services";"other"...
388    MS;"F";18;"U";"LE3";"T";3;1;"teacher";"service...
389    MS;"F";18;"U";"GT3";"T";1;1;"other";"other";"c...
390    MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391    MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392    MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393    MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394    MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...
Name: 0, dtype: object

KeyError: 1